.contact-section {
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-section h2 {
    font-size: 28px; /* Reduzco el tamaño del título para móviles */
    color: #00D1FF;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px; /* Ajusto la fuente para pantallas pequeñas */
}

.contact-item a {
    color: #00D1FF;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px; /* Reducir espacio entre iconos en móviles */
    margin-top: 20px;
}

.social-media a {
    color: white;
    font-size: 25px; /* Disminuir iconos en móviles */
    transition: color 0.3s;
}

.social-media a:hover {
    color: #00D1FF;
}

.cv-preview {
    margin-top: 40px;
}

.cv-preview iframe {
    width: 100%;
    height: 800px; /* Reducir altura en móviles */
}

@media (max-width: 768px) {
    .contact-section h2 {
        font-size: 24px;
    }

    .contact-item {
        font-size: 14px;
    }

    .social-media a {
        font-size: 22px;
    }

    .cv-preview iframe {
        height: 600px;
    }
}

@media (max-width: 480px) {
    .contact-section h2 {
        font-size: 20px;
    }

    .contact-item {
        font-size: 12px;
    }

    .social-media a {
        font-size: 20px;
    }

    .cv-preview iframe {
        height: 500px;
    }
}
